/* @import url(../root.css);

.card-list
{
    position: relative;
    margin-top: 20px;
}

.dsflex
{
    width: 1320px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-color);
    border-radius: var(--br-radius);
    padding: 0 30px;
}

.type
{
    margin-top: -80px;
    margin-bottom: 20px;
    padding: 7px 0;
    text-align: center;
    width: 170px;
    background-color: var(--card-color);
    border-radius: var(--br-radius);
    font-size: 0.8rem;
    font-weight: 500;
}

.name1
{
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.flexcard
{
    display: flex;
    justify-content: center;
}

.cardPrice
{
    width: 200px;
}

.title1
{
    color: black;
}

.img
{
    height: 250px;
} */
.flex3
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card5
{
    margin-top: 20px;
    width: 330px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.p
{
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 1.5rem;
}

.p2{
    position: absolute;
    top: 70px;
    left: 20px;
    font-weight: 500;
    font-size: 0.95rem;
}

.pdf{
    position: absolute;
    top: 158px;
    left: 20px;
    font-size: 14px;
    color: #7C8791;
}

.button2{
    position: absolute;
    right: 23px;
    bottom: 23px;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    background: none;
}